<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <ResultsDirectory>./tests/TestResults</ResultsDirectory>
    <TestSessionTimeout>1800000</TestSessionTimeout>
    <TreatNoTestsAsError>true</TreatNoTestsAsError>
    <EnvironmentVariables>
      <GODOT_BIN>/workspace/TitanCraft/tools/godot-headless.sh</GODOT_BIN>
    </EnvironmentVariables>
  </RunConfiguration>
  <GdUnit4>
    <Parameters>"--headless --verbose"</Parameters>
    <DisplayName>FullyQualifiedName</DisplayName>
    <CaptureStdOut>true</CaptureStdOut>
    <CompileProcessTimeout>30000</CompileProcessTimeout>
  </GdUnit4>
</RunSettings>
